@import "vendors/_bootstrap.min.less";
//@import "vendors/_font.less";
//@import url("https://use.fontawesome.com/releases/v5.0.6/css/all.css");
@import "helpers/_reset";
@import "helpers/_fonts";
@import "helpers/_lesshat";
@import "helpers/_utils";
@import "helpers/_base";
@import "layout/_header";
@import "layout/_sidebar";
@import "layout/_footer";
@import "layout/_modal";
@import "layout/_product";
@import "layout/_course";
@import "pages/_index";
@import "pages/_catalog";
@import "pages/_product";
@import "pages/_course";
@import "pages/_cart";
@import "pages/_contacts";
@import "pages/_promotion";
@import "pages/_news";
@import "pages/_404";
@import "pages/_search";

.favorite-page, .coaches-page, .custom-page {
  h1.title-big {
    padding-top: 45px;
  }
}

.custom-page {
  main {
    padding-bottom: 45px;
  }
}

.seo-text {
  padding: 130px 0 100px;
  color: #959595;
  font-size: 14px;
  img {
    margin: 5px 0;
    max-width: 100%;
  }
  h1, h2 {
    font-size: 54px;
  }
  h3 {
    font-size: 48px;
  }
  h4 {
    font-size: 36px;
  }
  h5 {
    font-size: 28px;
  }
  h6 {
    font-size: 20px;
  }
  h1,h2, h3, h4, h5, h6 {
    font-weight: 800!important;
    margin: 20px 0;
  }
  p {
    margin: 10px 0;
    font-size: 14px;
  }
  ul, ol {
    margin: 5px 0;
    padding-left: 30px;
    list-style: unset;
    font-weight: 400;
    li {
      margin: 4px;
    }
  }
  mark {
    background-color: @purple;
  }
  a:not(.btn-pink) {
    color: @purple;
    text-decoration: underline;
  }
  blockquote {
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
  }
  b,strong{
    font-weight: 800;
  }
}

.seo-content {
  padding-bottom: 100px;
  color: #959595;
  font-size: 14px;
  img {
    margin: 5px 0;
    max-width: 100%;
  }
  h1, h2 {
    font-size: 54px;
  }
  h3 {
    font-size: 48px;
  }
  h4 {
    font-size: 36px;
  }
  h5 {
    font-size: 28px;
  }
  h6 {
    font-size: 20px;
  }
  h1,h2, h3, h4, h5, h6 {
    font-weight: 800!important;
    margin: 20px 0;
  }
  p {
    margin: 10px 0;
    font-size: 14px;
  }
  ul, ol {
    margin: 5px 0;
    padding-left: 30px;
    list-style: unset;
    font-size: 16px;
    font-weight: 500;
    li {
      margin: 4px;
    }
  }
  mark {
    background-color: @purple;
  }
  a:not(.btn-pink) {
    color: @purple;
    text-decoration: underline;
  }
  blockquote {
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
  }
  b{
    font-weight: 600;
  }
}

.formated-text{
  .seo-text();
  padding: 0;
  color: #58595b;//
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  padding: 1em 2em 1em 2em;
  margin: 0 0 2em;
  position: relative;
  background-color: #f7f6f7;
  color: #515151;
  border-top: 3px solid @purple;
  list-style: none outside;
  width: auto;
  word-wrap: break-word;

  a {
    float: right;
    .btn-pink();
  }

  li {
    list-style: none outside !important; // Required for default theme compatibility
    padding-left: 0 !important; // Required for default theme compatibility
    margin-left: 0 !important; // Required for default theme compatibility
  }
}

.tinv-modal-inner {
  i, svg {
    color: white;
  }
  button {
    .btn-pink();
    transition: all .2s;
  }
}

.wc-backward {
  .btn-pink();
  margin: 15px auto;
}

@media (max-width: 768px) {
  .seo-text {
    display: none;
    h1, h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 36px;
    }
  }
.formated-text{
  h1, h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 36px;
  }
}
  .woocommerce-message,
  .woocommerce-error,
  .woocommerce-info {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    a {
      margin-top: 15px;
    }
  }
}